.footer {
    width: 100vw;
  
    padding-top: 10px;
    /* padding-bottom: 100px; */
    height: 2vh;
    position: absolute;
   
}
.g40{
    gap:10px
}
.Footermainouterdiv{
    margin-top: 10px;
  
}
.footercardright {
    width: 100%;
    height: 60%;
    justify-content: space-between;
   
}
.footermaindivinner{
    width: 100%;
    min-width: 500px;
   
}
.footermaindiv {
    width: 1150px;
    height: 70px;
    display: flex;
    flex-direction: column;
}
.footercardrightupper{
    gap: 20px;
    font-size: 14px;
}
.footercardrightbottom {
    justify-content: space-between;
    width: 100%;
    height: 30px;
    font-size: 11px;
}
.logosocail{
    font-size: 15px;
    gap: 15px;
}
.sociallogosvg{
    scale: 1.5;
}
.footerbottom{
    margin-top: 20px;
    gap :20px;
    /* background-color: rgba(119, 136, 153, 0.136); */
    

}
.footerdata{
    margin-top: 20px;
    /* font-size: 6px; */
    display: flex;
    flex-direction: row;
    /* font-weight: 400; */
    gap: 20px;
    text-wrap: nowrap;
    color:gray;
    flex-wrap: wrap;
    margin-bottom: 20px;
}


@media(max-width:1150px){
    .footermaindiv{
        width: 100vw;
    }
}
@media(max-width:700px){
   .footercardrightupper>div{
    flex-direction: column;
    gap: 10px;
   }
   .footercardright{
    gap: 15px;
}
}
@media(max-width:500px){
    .footercardrightbottom{
        flex-direction: column;
        gap: 10px;
    }
    .wrap500{
        text-wrap: wrap !important;
        word-wrap: break-word !important;
        width: 250px;
    }
   .footercardrightupper>div>div{
    flex-direction: column;
    gap: 10px;
   }
   .footer {
    padding-top: 10px;
    height: 160px;
    padding-left: 10px;
    }
    .footercardright{
        gap: 15px;
    }



}